@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

ul{
	list-style: none;
}

header{
	font-weight: bold;
	margin-bottom: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin: 1em 0;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

[epub|type~="z3998:diary-entry"]{
	margin: 1em 0;
	text-indent: 0;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="dedication"] p{
	margin: auto;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
	max-width: 75%;
}
