@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin: 1em 0;
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	max-width: 100%;
	margin: auto;
	display: block;
}

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="z3998:salutation"],
.signature{
	font-variant: small-caps;
}

#dedication > p{
	text-align: center;
}
